body{
    margin:0;
    background-color: rgba(0, 0, 0, 0.979);
    font-family: 'PT Sans', sans-serif;
}
.d1{
    position: fixed;
    background-image: linear-gradient(orange,darkorange);
    height: 100px;
    display: flex;
    padding-left: 460px;
    
}
p{
    font-size:18px;
}

.d12{
    padding-right: 70px;
    margin-left: 450px;
    margin-top: 50px;
}

.lnk:link, .lnk:visited {
    font-size: 20px;
    background-color: #f44336;
    color: rgb(252, 252, 253);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.lnk:hover, .lnk:active {
    background-color: rgb(5, 26, 56);
    color: white;
  }
.sec1div{
    display: flex;
}
.sec1divimg{
        height: 350px;
        width: 300px;
}
.sec1div1{
    
    margin: 200px 10px 100px 200px;
    padding-bottom: 10px;
}
.sec1div2{
    
    margin: 200px 200px 10px 200px;
    

}
.sclimg{
    margin: 70px 30px 5px 5px;
    height: 40px;
    width: 40px;
    
}
.pdf{
    margin-left: 60px;
    margin-top: 25px;
}

.sec3{
    background-image: linear-gradient(black,white);

}
.skils{
     margin: 0px 520px 0px 520px;
    text-align: center;
    border:2px solid black;
    font-size: 50px;
    box-shadow: 5px 5px 30px purple;
}
.sec1div4{
    display: flex;
    
    
}
label{
    font-size: 26px ;
}
progress{
    font-size: 26px;
}
.sec2div23{
    width: 50%;
    margin: 90px 80px 100px 200px;
    padding: 5px 50px 50px 50px;
    background-image: url(/envelop.jpg );
    background-size: 20px;
    background-repeat: none;

}
.banner{
    background-image: linear-gradient(rgb(111, 224, 117),rgb(133, 77, 197));
    margin: 0px 100px 0px 100px;
}

.sec2div2{
    margin: 40px 50px 100px 50px;
    padding: 20px 10px 50px 10px;
    
}
.sec2div222{
    margin: 60px 100px 100px 100px;
    padding: 20px 40px 50px 40px;
    background-color: rgba(128, 255, 0, 0.5);
    border-radius: 15px;
    box-shadow: 8px 8px 40px blue;
    
}

.lnk1:link, .lnk1:visited {
    background-color: rgb(214, 75, 75);
    color: black;
    border: 2px solid rgb(245, 181, 6);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .lnk1:hover, .lnk1:active {
    background-color: rgb(245, 181, 6);
    color: white;
  }

.cntct{
    margin-top: 0px;
    text-align:left;
    
    padding-right: 0;
}
.lastpara{
    text-align: center;
}
.sec2div34{
    width: 50%;
    margin: 100px 50px 100px 250px;
    padding: 20px 10px 50px 10px;
}
.sec2div22{
    width: 50%;
    margin: 100px 100px 100px 100px;
    padding: 70px 70px 70px 70px;
    background-color: wheat;
    border-radius: 200px;
    box-shadow: 5px 0px 20px grey;
    
}
label{
    color: rgb(19, 19, 20);
    background-color: lightblue;
}
